<div class="container">
    <div class="projects-card">
      <h2>PROJECTS</h2>
      <div *ngFor="let project of projects" class="project-entry">
        <div class="project-line">
            <span class="project-name">{{project.title}}</span>
            <span class="project-type" *ngIf="project.id === 'groshme-beta'">October 2024 - February 2025</span>
            <span class="project-type" *ngIf="project.id === 'sophit-training'">December 2024</span>
          </div>
        
  
        <!-- Add the Skills Dropdown Component here -->
        <app-skills-dropdown [projectId]="project.id"></app-skills-dropdown>
        
        <ul class="technology-list">
          <li *ngIf="project.id === 'sophit-training'">
            <a [routerLink]="['/projects']">
              • Strong React component architecture with effective state management and context separation using modern React patterns including hooks and functional components.
            </a>
          </li>
          <li *ngIf="project.id === 'sophit-training'">
            <a [routerLink]="['/projects']">
              • Created a professional user experience through engaging Framer Motion animations, responsive Tailwind CSS styling, and functional contact forms with EmailJS integration.
            </a>
          </li>
          <li *ngIf="project.id === 'sophit-training'">
            <a [routerLink]="['/projects']">
              • Structured and well-organized codebase demonstrating clean code principles with clear component separation and reusable UI components.
            </a>
          </li>
          <li *ngIf="project.id === 'groshme-beta'">
            <a [routerLink]="['/projects']">
              • Comprehensive Personal management system where users create and manage budgets, exercises, workouts recipes, menus, grocery lists, and meal plans
            </a>
          </li>
          <li *ngIf="project.id === 'groshme-beta'">
            <a [routerLink]="['/projects']">
              • Full-stack application with sophisticated state management, complex data processing, and authentication with user specific data
            </a>
          </li>
          <li *ngIf="project.id === 'groshme-beta'">
            <a [routerLink]="['/projects']">
              • Next.js/React frontend that handles user interfaces and interactions, a Python Flask backend that manages data processing and API endpoints
            </a>
          </li>
          <li *ngIf="project.id === 'groshme-beta'">
            <a [routerLink]="['/projects']">
              • Designed and implemented PostgreSQL database system initially in MySQL then migrated to Supabase, with complex schemas for functions using advanced SQL features.
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>