<div class="container">
    <div class="projects-card">
      <h2>PROJECTS</h2>
      <div *ngFor="let project of projects" class="project-entry">
        <div class="project-line">
          <span class="project-name">{{project.title}}</span>
          <span class="project-type">{{project.technologies[0]}}</span>
        </div>
        <div class="description-line">
          <span class="description">{{project.description}}</span>
        </div>
        <ul class="technology-list">
          <li><a [routerLink]="['/projects']">• {{project.technologies.slice(1, 4).join(', ')}}</a></li>
        </ul>
      </div>
    </div>
  </div>