<div class="project-card">
  <div class="project-image">
    <app-image-carousel 
      [images]="projectImages" 
      [altText]="project.title"
    ></app-image-carousel>
  </div>
  
  <div class="project-content">
    <h3 class="project-title">{{project.title}}</h3>
    <p class="project-description">{{project.description}}</p>
    
    <div class="project-tech">
      <h4>Technologies Used</h4>
      <div class="tech-tags">
        <span class="tech-tag" *ngFor="let tech of project.technologies">{{tech}}</span>
      </div>
    </div>
    
    <div class="project-features" *ngIf="project.features && project.features.length > 0">
      <h4>Key Features</h4>
      <ul class="features-list">
        <li *ngFor="let feature of project.features" class="feature-item">
          {{feature}}
        </li>
      </ul>
    </div>
    
    <div class="project-challenge" *ngIf="project.challenge">
      <h4>Challenge</h4>
      <p>{{project.challenge}}</p>
    </div>
    
    <div class="project-outcome" *ngIf="project.outcome">
      <h4>Outcome</h4>
      <p>{{project.outcome}}</p>
    </div>
    
    <div class="project-actions">
      <a [href]="project.demoUrl" class="btn btn-primary" target="_blank" rel="noopener">
        Live Demo
      </a>
      <a [href]="project.githubUrl" class="btn btn-outline" target="_blank" rel="noopener">
        GitHub
      </a>
    </div>
  </div>
</div>